/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");
:root {
  --color-yellow: #f4d04e;
  --color-black: #111111;
  --color-pure-white: #ffffff;
  --color-grey: #7f7f7f;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  position: relative;
  min-height: 100vh;
  margin: 0;
  background-color: var(--color-yellow);
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/
body {
  font-family: "Figtree", sans-serif;
  font-weight: 400;
  line-height: 150%;
}

.ft-heading {
  font-weight: 800;
  font-size: 2.4rem;
}

.ft-body-m {
  font-weight: 500;
  font-size: 1.6rem;
}

.ft-body-s {
  font-weight: 800;
  font-size: 1.4rem;
}

/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/
.centered-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.centered-div2 {
  margin: 0 auto;
  max-width: 50%;
  text-align: center;
}

.centered-div3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.blogCard {
  max-width: 38.4rem;
  margin: 21.85rem 2.4rem 0;
  padding: 2.4rem;
  border: 1px solid var(--color-black);
  border-radius: 2rem;
  box-shadow: 8px 8px 0px 0px rgb(0, 0, 0);
  overflow: hidden;
  background-color: var(--color-pure-white);
}
@media only screen and (max-width: 23.4375em) {
  .blogCard {
    max-width: 32.7rem;
  }
}
.blogCard-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 1rem;
  margin-bottom: 2.4rem;
}
.blogCard-content {
  color: var(--color-black);
  margin-bottom: 2.4rem;
}
.blogCard-content-tag-category {
  display: inline-block;
  font-weight: 800;
  font-size: 1.4rem;
  padding: 0.4rem 1.2rem;
  background-color: var(--color-yellow);
  margin-bottom: 1.4rem;
}
@media only screen and (max-width: 23.4375em) {
  .blogCard-content-tag-category {
    font-size: 1.2rem;
  }
}
.blogCard-content-publish-date {
  font-weight: 500;
  font-size: 1.4rem;
  margin-bottom: 2.4rem;
}
@media only screen and (max-width: 23.4375em) {
  .blogCard-content-publish-date {
    font-size: 1.2rem;
  }
}
.blogCard-content-title {
  display: inline-block;
  font-size: 2.4rem;
  font-weight: 800;
  margin-bottom: 2.4rem;
}
@media only screen and (max-width: 23.4375em) {
  .blogCard-content-title {
    font-size: 2rem;
  }
}
.blogCard-content-title:hover {
  cursor: url("../../assets/images/handcursor.png"), auto;
  color: var(--color-yellow);
}
.blogCard-content-description {
  font-size: 1.6rem;
  line-height: 150%;
  color: var(--color-grey);
  font-weight: 500;
}
@media only screen and (max-width: 23.4375em) {
  .blogCard-content-description {
    font-size: 1.4rem;
  }
}
.blogCard-author {
  display: flex;
  align-items: center;
}
.blogCard-author-avatar {
  max-width: 3.2rem;
  margin-right: 1.2rem;
}

.attribution {
  margin-top: 1.6rem;
  font-size: 1.1rem;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/*# sourceMappingURL=style.css.map */
